/.vscode
/14010603_ex01_flex.html
/14010603_zar_ex01.html
/14010604.html
/14010606_08.html
/14010625_bootstrap.html
/14010708_digiEx.html
/14010708_surenaHr.html
/14010713_s09.html
/14010713_s09_01.html
/14010713_s09_02.html
/bootstrap-5.2.1-dist
/bootstrap-5.2.1-dist.zip
/circleAround.html
/css
/design
/FireShot Capture 003 - Housy Real Estate – Just another WordPress site - wordpress.altdesain.com.pdf
/FrontEnd_F0_03_ShimaMousavi_session09.html
/FrontEnd_F0_03_ShimaMousavi_session10.html
/housy
/housy.html
/housy_menu.html
/housy_menu.rar
/images
/js
/personal-site
/personal-site.rar
/practic.html
/Practice_09_Flex.html